<head>
  <link rel="import" href="/statik/views/resources.html">
</head>
<body>

<div id="treemap"></div>

<script src="http://momentjs.com/downloads/moment.min.js"></script>
<script src="http://www.d3plus.org/js/d3.js"></script>
<script src="/static/d3plus.js"></script>


<script>
  /**
   * d3plus, much easier api to work with
   * @type {*[]}
   */

  var date, TreeMap = {};

  date = moment(new Date()).format('YYYY/MM/DD');

  console.log(date);
  TreeMap.treeData = {};

  TreeMap.showData = function(callback) {
    $.ajax({
      type:'GET',
      url: '/data',
      dataType: 'json',
      success: function(data) {
        if(data) {
          TreeMap.treeData = data;
          callback();
        }
      }
    });
  }

  TreeMap.render = function() {

    d3plus.viz()
    .container("#treemap")  // container DIV to hold the visualization
    .data(TreeMap.treeData)  // data to use with the vis
    .type("tree_map")   // visualization type
    .id(['name'])         // key for which our data is unique on
    .size("size")      // sizing of blocks
    .dev(true)
    .time({
      "value" : "date",
      "solo" : date,
    })
    .color('color')
    .format({
      "text": function(text, params) {

        if (text === "size") {
          return "Number of related articles";
        }
        else if (text === 'share') {
          return 'Title similarity'
        }
        else {
          return d3plus.string.title(text, params);
        }
      }
    })
    .draw();             // finally, draw the visualization!

    //start the animation:
  }

  TreeMap.build = function() {
    TreeMap.showData(TreeMap.render);
  }

  TreeMap.build();

</script>

</body>


